*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.nav-link{
  background-color: #ffff;
  color: black !important;
  margin-right: 10px;
  padding: 10px 30px !important;
}
.nav-link:hover{
  opacity: 0.8;
}
.navbar-toggler-icon {
filter: invert(1);
}

.main-row{
  height: calc( 100vh - 60px );
  display: flex;
  align-items: center;
}